@import "util/constants";

@import "header";
@import "menu";
@import "sidebar";
@import "page";



html, body, .Layout{
    width: 100vw;
}

body{
    position: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(231, 231, 231);
}

.Layout {
    margin: 0;
    padding: 0;

    .content{
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}// end .Layout

@media only screen and (max-width: 600px){
    .searchbar{
        display: none;
    }

    .searchbar-under{
        display: block !important;
    }
    
    .search-toggle-btn{
        display: inline !important;
    }

    .btn-link{
        display: none;
    }

    .Sidebar{
        display: none;
    }
}

@media only screen and (max-width: 750px){
    .Page{
        .page-header{
            h4{
                font-size: 0.8em;
            }
        }

        .header-btn-text{
            display: none;
        }
    }
}