$header-height: 50px;
$brand-width: 225px;
$content-bg: rgb(243, 243, 243);

html, body, .Layout{
    width: 100vw;
}

body{
    position: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(231, 231, 231);
}

.Layout {
    margin: 0;
    padding: 0;

    .content{
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}

.Header{
    height: $header-height;
    background: rgb(9, 116, 134);
    color: #fff;
    width: 100%;

    .brand{
        width: $brand-width;

        h1{
            display: table-cell;
            vertical-align: middle;
            font-size: 0.9em;
        }
    }

    .searchbar{
        margin: 0;
        padding: 0;

        input[type="text"]{
            width: 100%;
            background: rgb(14, 148, 172);
            border: none;
            border-radius: 7px;
            padding: 3px;
            font-family: FontAwesome, Arial;
            color: #fff;
        }

        ::placeholder{
            color: #ddd;
            font-weight: bold;
            font-size: 0.9em;
        }
    }

    .header-buttons{
        max-width: 150px;
        display: flex;
        justify-content: flex-end;

        button{
            color: #fff;

            :hover{
                color: #bbb;
            }
        }
    }

    
}

.Menu{
    max-width: $brand-width + 30;
    min-width: 200px;
    background: $content-bg;
    height: 100%;

    .menu-items{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-btn{
        padding: 0;

        i{ width: 40px; }
    }

    .menu-btn:focus{
        background: rgb(194, 194, 194);
    }

    .sub-menu{
        display: none;
        position: relative;

        ul{
          list-style: none; 
          padding: 0;
          padding-left: 60px;
          margin: 0; 
        }
        
    }
}

.menu-collapsed{
    max-width: 70px;
    min-width: 70px;

    .menu-text{
        display: none;
    }

    .sub-menu{
        display: none;
        position: fixed;
        z-index: 1000;
        background: #fff;
        border: 1px solid rgba(0,0,0, 0.2);
        border-radius: 5px;

        ul{ 
            padding: 10px;
        }
    }
}

.Sidebar {
    background: $content-bg;
    max-width: 300px;
}